@model TechCom.Infrastructure.ShoppingCartManager

<li class="col-xs-3">
    <a href="@Url.Action("Index","ShoppingCart", new { returnUrl = Request.Url.PathAndQuery })" >
        <i class="glyphicon glyphicon-shopping-cart" id="main"> </i><span class="hidden-xs">Koszyk (@Model.ContentOfCart.Sum(x => x.Quantity))</span>
</a>
</li>