@model TechCom.Infrastructure.ShoppingCartManager

<li>
    <a href="@Url.Action("Index","ShoppingCart", new { returnUrl = Request.Url.PathAndQuery })" >
        <i class="glyphicon glyphicon-shopping-cart" id="main"> </i>Koszyk (@Model.ContentOfCart.Sum(x => x.Quantity))
    </a>
</li>