@model TechCom.App.Services.ShoppingCartManager
<div class="navbar-text navbar-right">
    <span class="glyphicon glyphicon-shopping-cart"> (@Model.ContentOfCart.Sum(x => x.Quantity))</span>
    
</div>
