

@model TechCom.Model.Domain.ViewModels.ProductListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

    <div class="col-md-4 products-left">
        <div class="css-treeview">
            <h4>Kategorie</h4>
            <ul class="tree-list-pad">
                @foreach (var item in Model.Categories)
                {
                    <li>
                        <a href="@Url.Action("ProductList", "Product", new { categoryName = item.CategoryName,IDcategory=item.CategoryID })">
                            @item.CategoryName
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-8 products-right">
        Lorem ipsum –
    </div>
    <div class="clearfix"></div>


