@model TechCom.Model.Domain.ViewModels.AcceptanceOfTheOrder
    Content-Type: text/html; charset=utf-8
<html>
<body>
    <p>Dziękujemy Twoje zamówienie  @Model.OrderID w naszym sklepie zostało przyjęte do realizacji</p>

</body>
</html>