@model TechCom.App.ViewModels.ConfirmationRealizedOrder
    Content-Type: text/html; charset=utf-8
<html>
<body>
    <p>Dziękujemy Twoje zamówienie  @Model.OrderID w naszym sklepie zostało zrealizowane</p>
    <p>Dziękujemy i zapraszamy ponownie</p>
</body>
</html>