body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px
}
#btnEdit{
    margin-right:9%;
}
#h2ProductManagment{
    margin-bottom:2%;
}
#formProductManagment{
    margin-bottom:2%;
}
#addProductManagment{
    margin-bottom:2%;
}
#editContainer{
  
  margin-left: auto;
  margin-right: auto;
}
#edit,editMain{
    max-width:100%;
}
#subCatList{
    list-style:none;
}
#formSearchProductList{
    margin-top:10px;
    margin-left:30%;
    margin-right:30%;
}
#subCategories{
    text-align:left;
    margin-left:-7%
}
#productList{
    margin-top:5px;
}