
@{
    ViewBag.Title = "CheckYourEmailAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sprawdź swój email i potwierdź założenie konta
    </p>
</div>
