@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_LayoutWithoutSearch.cshtml";
}


<br /><br />
<div>
    <h5 class="text-center">
       Dziękujemy za potwierdzenie adresu Email. Proszę @Html.ActionLink("Kliknij tutaj aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h5>
</div>
