@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutWithoutSearch.cshtml";
}

<br/><br/>
<div>
    <h4 class="text-center">
        Twoje hasło zostało zresetowane. Proszę @Html.ActionLink("kliknij tutaj aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h4>
</div>
