@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <li class="col-xs-3">
            <a href="@Url.Action("Index", "Manage", routeValues: null)"  data-target="#myModal"><i class="glyphicon glyphicon-user" id="main" aria-hidden="true"></i><span class="hidden-xs">Moje konto</span></a>
        </li>
        <li class="col-xs-3">

            <a href="javascript:document.getElementById('logoutForm').submit()"  data-target="#myModal2"><i class="glyphicon glyphicon-off" id="main" aria-hidden="true"></i><span class="hidden-xs">Wyloguj</span></a>
        </li>
    }
}
else
{
    <li class="col-xs-3">
        <a href="@Url.Action("Register", "Account", routeValues: null)"  data-target="#myModal" htmlAttributes id="registerLink"><i class="glyphicon glyphicon-lock" id="main" aria-hidden="true"></i><span class="hidden-xs">Zarejestruj</span> </a>
    </li>
    <li class="col-xs-3">
        <a href="@Url.Action("Login", "Account", routeValues: null)"  data-target="#myModal2" htmlAttributes id="loginLink"><i class="glyphicon glyphicon-user" id="main" aria-hidden="true"></i><span class="hidden-xs">Zaloguj</span></a>
    </li>

}

