
@model IEnumerable<TechCom.Model.Domain.ViewModels.ProductListViewModel>
@using System.Linq

@foreach(var item in Model)
       <ul>
        <li>
           

          
          
        </li>
    </ul>


