@model TechCom.Model.Domain.Domain.Subcategory
<ul id="subCatList">
    <li>
        <a href="@Url.Action("DetailedProductList", "Product", new { subCategory = Model.SubcategoryName,categoryName=Model.Category.CategoryName })">@Model.SubcategoryName</a>
    </li>
</ul>
