@model TechCom.App.Models.ProductListViewModel


<h3>

    @Model.DetailsProduct.Name -@Model.DetailsProduct.Manufacturer
</h3>

<div>
    @string.Format("{0:0.##}", Model.DetailsProduct.Price)<span>PLN</span> 
</div>
<div >
    @Model.DetailsProduct.Description
</div>


